@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .plain-btn {
    @apply active:scale-95 bg-white transform font-light rounded-md border shadow-sm border-gray-300  px-5 py-3;
  }
  .btn-indigo {
    @apply plain-btn bg-cyan py-3.5 text-white border-none;
  }
}

body {
  font-family: "Rubik";
}

@layer utilities {
  .bg-cyan {
    background-color: #5a9cb6;
  }
  .text-cyan {
    color: #5a9cb6;
  }
  .h-max {
    height: max-content;
  }
  @varient hover {
    .text-cyan {
      color: #5a9cb6;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 93%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 88%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 83%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 78%;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 76%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 73%;
  }
}
